<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/help.css">
</head>

<body class="bg-dark">
    <h1>Easy RPC</h1><br>
    <h3>Here are a few things to get you started: </h3>
    <div style="padding-left: 50px;">
        <p><strong>&bull; Client ID: </strong>This is the ID of your application. It can be obtained from the <a
                href="https://discord.com/developers/">Discord Developer
                Portal</a><br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note:
                The name of this application directly affects the name of the RP</i></p>
        <p><strong>&bull; Start & Stop Times: </strong>These will be the start and stop times of the RP. Just write the
            start time to get 'elapsed' time and write both to get 'remaining' time
            <br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note:
                These time stamps are in <a href="https://www.epochconverter.com">Unix Epoch</a> and are in
                Milliseconds</i></p>
        <p><strong>&bull; Image Keys: </strong>These should be filled in with the asset keys that you set in <a
                href="https://discord.com/developers/">Discord Developer
                Portal</a></p>

        <p><strong>&bull; Image Texts: </strong>These texts will appear when you hover over the large and small images
            respectively</p>
        <p><strong>&bull; Party ID: </strong>This will be the ID of the party. It can be left
            empty<br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note:
                You can
                fill this in with a random string if you want to show the 'Ask to join' button</i></p>
        <p><strong>&bull; Party Size & Max: </strong>The number of people curently in the party and the maximum party
            size respectively</p>
        <p><strong>&bull; Join Secret: </strong>This will be the Join Secret of the party. It can be left
            empty<br><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note:
                You can
                fill this in with a random string if you want to show the 'Ask to join' button</i></p>
    </div><br>
    <div class="footer-div">
        <form method="GET" action="/">
            <button type="submit" class="back-btn">Back</button>
        </form>
        <footer>
            <p>
                <font color="#99AAB5" size="2" class="footer-font">Work By Amitoj Singh<br>View the source code here: <a
                        href="https://shrt.amitoj.net/easy-rpc">https://shrt.amitoj.net/easy-rpc</a></font>
            </p>
        </footer>
    </div>
</body>

</html>