<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="bg-dark">
    <script>
        let b1l = "<%= data.button_1_label %>";
        let b1u = "<%= data.button_1_url %>"
        let b2l = "<%= data.button_2_label %>";
        let b2u = "<%= data.button_2_url %>"
    </script>
    <h1>Easy RPC</h1>
    <center>

        <div class="banner-error" style="display: none;" id="2-btn-err">
            <p style="font-size: 15px;"><i class="material-icons" style="font-size: 15px;">info</i>Not more than 2
                buttons can be used!</p>
        </div>
    </center><br>
    <% if (data.running) { %>
        <center>
            <div class="banner-running">
                <p style="font-size: 15px;"><i class="material-icons" style="font-size: 15px;">info</i> RPC is running!
                    To
                    update
                    data please restart the program</p>
            </div>
        </center><br>
        <% } %>
            <form method="POST" action="/update">
                <input type="text" name="token" class="input-feild" placeholder="Client ID"
                    value="<%= data.token %>"><br>
                <input type="text" name="state" class="input-feild" placeholder="State" value="<%= data.state %>">
                <input type="text" name="details" class="input-feild" placeholder="Details"
                    value="<%= data.details %>"><br>
                <input type="number" name="startTimestamp" class="input-feild" placeholder="Start Time"
                    value="<%= data.startTimestamp %>">
                <input type="number" name="endTimestamp" class="input-feild" placeholder="Stop Time"
                    value="<%= data.endTimestamp %>"><br>
                <input type="text" name="largeImageKey" class="input-feild" placeholder="Large Image Key"
                    value="<%= data.largeImageKey %>">
                <input type="text" name="largeImageText" class="input-feild" placeholder="Large Image Text"
                    value="<%= data.largeImageText %>"><br>
                <input type="text" name="smallImageKey" class="input-feild" placeholder="Small Image Key"
                    value="<%= data.smallImageKey %>">
                <input type="text" name="smallImageText" class="input-feild" placeholder="Small Image Text"
                    value="<%= data.smallImageText %>"><br>
                <input type="text" name="partyId" class="input-feild" placeholder="Party ID"
                    value="<%= data.partyId %>">
                <input type="number" name="partySize" class="input-feild" placeholder="Party Size"
                    value="<%= data.partySize %>"><br>
                <input type="number" name="partyMax" class="input-feild" placeholder="Party Max"
                    value="<%= data.partyMax %>">
                <input type="text" name="joinSecret" class="input-feild" placeholder="Join Secret"
                    value="<%= data.joinSecret %>"><br>
                <label>Buttons: </label><span style="margin-top: 5px;" onclick="addButton()"
                    class="clear-btn material-icons">
                    add_circle_outline
                </span>
                <div id="buttons">

                </div>
                <br><br>

                <button type="submit" class="start-btn">Start</button>
            </form>
            <br><br>

            <form method="POST" action="/disconnect">

                <button type="submit" class="stop-btn">Stop</button>
            </form>
            <footer>
                <p>
                    <font color="#99AAB5" size="2">Work By Amitoj Singh<br>View the source code here: <a
                            href="https://shrt.amitoj.net/easy-rpc">https://shrt.amitoj.net/easy-rpc</a><br>Dont know
                        what's
                        going on? Check the <a href="/help">help section</a><br>
                        <form method="POST" action="/clear"><button class="clear-btn" type="submit">Clear Data</button>
                        </form>
                    </font>
                </p>
            </footer>
</body>
<script defer>


</script>

</html>