@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
    width: 100%;
    height: 100%;
}

:root{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}