@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  width: 100%;
  height: 100%;
}

:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #bcd0dd;
  text-decoration: underline;
}

.fakeA {
  color: #bcd0dd;
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5865f2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5865f2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#popper-tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

#popper-tooltip [data-popper-placement^='top'] > #tooltip-arrow {
  bottom: -4px;
}

#popper-tooltip [data-popper-placement^='bottom'] > #tooltip-arrow {
  top: -4px;
}

#popper-tooltip [data-popper-placement^='left'] > #tooltip-arrow {
  right: -4px;
}

#popper-tooltip [data-popper-placement^='right'] > #tooltip-arrow {
  left: -4px;
}

#tooltip-arrow,
#tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#tooltip-arrow {
  visibility: hidden;
}

#tooltip-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
